[user]
	email = andrei@cioara.me
	name = Andrei Cioara
[credential]
	helper = cache --timeout=360000
[push]
	default = current
[diff]
	tool = meld
[core]
	editor = vim
	ignoreCase = false
[alias]
    # Latest branches
    lb = !git reflog show --pretty=format:'%gs ~ %gd' --date=relative | grep 'checkout:' | grep -oE '[^ ]+ ~ .*' | awk -F~ '!seen[$1]++' | head -n 10 | awk -F' ~ HEAD@{' '{printf(\"  \\033[33m%s: \\033[37m %s\\033[0m\\n\", substr($2, 1, length($2)-1), $1)}'
    pr = !git diff origin/master...HEAD
	co = checkout
[init]
	defaultBranch = master
